html{
	
}
body{
	font-family: Tahoma, Geneva, sans-serif;
	background-color: #679dd9;
}
h1, h2, h3{
	color : white;
	text-align: center;
}
#content-wrapper{
	width: 100%;
	text-align: center;
	margin: auto;
}
.political_party{
	display: inline-block;
	width: 30%;
	min-width: 250px;
	height: 150px;
	border: 1px solid gray;
	border-radius: 10px;
	margin-bottom: 25px;
}
.political_party img{
	float: left;
}